.dark .container {
    border-radius: 10px;
    padding: 8px;
    color: white;
    margin-bottom: 8px;
    min-height: 90px;
    margin: 8px auto;
    background-color: #202123;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

.dark .container:hover {
    background-color: #141517;
}

.light .container {
    border-radius: 10px;
    padding: 8px;
    color: black;
    margin-bottom: 8px;
    min-height: 90px;
    margin: 8px auto;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

.light .container:hover {
    background-color: #EBECF0;
}

.issueTitle {
    display: "flex";
    justify-content: "center";
    padding: 2;
}
.iconContainer {
    display: flex;
    align-items: flex-end;
}

.issueIcon {
    display: flex;
    align-items: center;
    margin-right: 8px;
    gap: 8px;
}