.mr-2 {
    color: #FF5364;
    font-size: 32px;
}

.mr-2:hover {
    color: #FF9DA7;
    cursor: pointer;
}

.logout-container {
    margin-top: auto;
    margin-bottom: 50%;
}


.theme-icon {
    display: none;
}

.dark #darkIcon {
    display: inline-block;
    color: #FF5364;
    font-size: 32px;
}

.dark #darkIcon:hover {
    color: #FF9DA7;
}

.dark #lightIcon {
    display: none;
}

.dark .sidebar {
    background-color: #202123;
    transition: background-color 0.3s ease;
}

.light #lightIcon {
    display: inline-block;
    color: #FF5364;
    font-size: 32px;
}

.light #lightIcon:hover {
    color: #FF9DA7;
}

.light #darkIcon {
    display: none;
}

.light .sidebar {
    background-color: #F5F5F5;
    transition: background-color 0.3s ease;
}

.dark .dashboard-content {
    background-color: black;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}
  
.light .dashboard-content {
    background-color: white;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

