.dark .form{
    background-color: #202123;
    color: white;
    border-color: black;
}

.dark .form input::placeholder {
    color: #ccc;
}

.dark .btn-close {
    background-color: white;
}

.dark .form input:focus,
.dark .form textarea:focus,
.dark .form select:focus {
    background-color: #202123;
    color: white !important;
    outline: none !important;
    border-color: #FF5364 !important;
    box-shadow: 0 0 0 0.25rem rgba(255, 83, 100, 0.25) !important;
}

.form input:focus,
.form textarea:focus,
.form select:focus {
    outline: none !important;
    border-color: #FF5364 !important;
    box-shadow: 0 0 0 0.25rem rgba(255, 83, 100, 0.25) !important;
}

.modal-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
  
.delete-button-container {
    display: flex;
    justify-content: flex-start;
}
  
.save-close-buttons-container {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.search-body {
    overflow-y: scroll;
}

.search-body::-webkit-scrollbar {
    width: 0.0em; 
}

.search-results p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
