.search-result-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px; 
    cursor: pointer;
}

.dark .search-result-card {
    border: 1px solid black
}
  
.dark .search-result-card:hover {
    background-color: #141517
}

.light .search-result-card {
    border: 1px solid #EBECF0
}
  
.light .search-result-card:hover {
    background-color: #EBECF0
}

